@charset "utf-8";

header {
    position: static;
}


/* =========================================
   Section Common Styles
   ========================================= */
.section-header {
    margin-bottom: 30px;
}

.section-header h1 {
    font-size: 5.2rem;
}

.section-header h2 {
    font-size: 4.8rem;
}

.section-sub {
    letter-spacing: 2px;
}

@media screen and (min-width:768px) {
    .section-header h1 {
        font-size: 6.4rem;
    }

    .section-sub {
        font-size: 2rem;
    }
}

/* =========================================
   About Section
   ========================================= */
.about {
    padding: 70px 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFCF5;
}


.about-image {
    max-width: 380px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin: 0 auto;
}

.about-text {
    width: 100%;
}

.about-text h3 {
    font-size: 3.6rem;
    margin-bottom: 14px;
}

.jp-name {
    font-size: 2rem;
    margin-bottom: 20px;
}

.bio p {
    line-height: 1.8;
}


@media screen and (min-width:768px) {

    /* About */
    .about {
        padding: 100px 16px;
        margin: 0 auto;
    }

    .about-box {
        max-width: 942px;
        margin: 0 auto;
    }

    .about-content {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .about-image {
        width: 380px;
        height: auto;
        margin-bottom: 0;
        flex-shrink: 0;
    }

    .about-text {
        flex: 1;
    }

}

@media screen and (min-width:960px) {

    /* About */
    .about {
        padding: 90px;
        margin: 0 auto;
    }

    .about-box {
        max-width: 942px;
        margin: 0 auto;
    }

    .about-content {
        display: flex;
        align-items: center;
        gap: 80px;

    }

    .about-image {
        width: 380px;
        height: auto;
        margin-bottom: 0;
        flex-shrink: 0;
    }

    .about-text {
        flex: 1;
    }

}

/* =========================================
   Biography Section
   ========================================= */

.biography {
    padding: 70px 20px;
    width: 100%;
    margin: 0 auto;
}

.tree-container {
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    overflow: hidden;
    padding: 100px 0.75rem 0;
}

.tree-container::before {
    position: absolute;
    content: "";
    width: 5px;
    background: red;
    top: 0px;
    left: 0.75rem;
    margin-left: 25%;
    height: 100%;

}

.tree-container h3 {
    font-size: 2.0rem;
    margin: 0 1.5rem;
    padding: 20px 0;
    display: inline-block;
}

.leaf-row {
    margin-bottom: 30px;
    position: relative;
}

.leaf-row h3::after {
    position: absolute;
    content: "";
    top: 35px;
    left: 26%;
    width: 4%;
    height: 5px;
    background-color: red;
}

/* .leaf-title {
    width: 200px;
    height: 50px;
    margin: 0 0 1.5rem 30%;
} */

.leaf-card {
    width: 73%;
    position: relative;
    top: -55px;
    left: 27%;
    padding: 15px 0;
    margin-left: 3%;
    margin-bottom: 10px;

}

.leaf-card h4 {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

@media screen and (min-width:960px) {

    .biography {
        max-width: 942px;
        margin: 0 auto;
    }
}